*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;
    
}
.grid{
    display: flex;
    flex-wrap: wrap;
    height: 560px;
    width: 560px;
    background-color: rgb(238, 244, 242)
    ;

}
.grid div{
    height: 20px;
    width: 20px;
}
.pac-dot{    
    border-radius: 50%;
    background-image: url("assets/imgs/pac-dot.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
   
}
.power-pellet{
  
    border-radius: 50%;
    background-color: red; 
    
}
.wall{   
   
    background-color: rgb(122, 122, 218); 
}
.ghost-lair{
       
    background-color: rgb(238, 244, 242);
}
.empty{   
  
    background-color: rgb(238, 244, 242);
   
}
.pacman{
    
    border-radius: 50%;
    background-color: rgb(238, 244, 242);
    background-image: url("assets/imgs/pacman.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(0deg);
    transition: transform 0.2s linear;
   
}