*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color : #eef4f2;
    --secundary-color :  #babdf5; 
    --ternary-color : #b10404;
    --dark-color : #3b2a2a;
    --text-color : #b11b1b;
    --text-color-dark : #f7edee;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;
    background-color: var(--primary-color);
    
}
.grid{
    display: flex;
    flex-wrap: wrap;
    height: 560px;
    width: 560px;
    background-color: var(--primary-color);
    box-shadow: #dddada 5px 5px;
    

}
.grid div{
    height: 20px;
    width: 20px;
}
.pac-dot{    
    border-radius: 50%;
    background-image: url("assets/imgs/pac-dot.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
   
}
.power-pellet{
  
    border-radius: 50%;
    background-color: red; 
    
}
.wall{   
   
    background-color: rgb(122, 122, 218); 
}
.ghost-lair{
       
    background-color: var(--primary-color);
}
.empty{   
  
    background-color: var(--primary-color);
   
}
.pacman{
    
    border-radius: 50%;
    background-color: var(--primary-color);
    background-image: url("assets/imgs/pacman.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(0deg);
    transition: transform 0.2s linear;
   
}