*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color : #eef4f2;
    --secundary-color :  #babdf5; 
    --ternary-color : #b10404;
    --dark-color : #3b2a2a;
    --text-color : #b11b1b;
    --text-color-dark : #f7edee;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;
    background-color: var(--primary-color);
   
    
}
.grid{
    display: flex;
    flex-wrap: wrap;
    height: 560px;
    width: 560px;
    background-color: var(--primary-color);
    box-shadow: #dddada 5px 5px;
    margin-right: 4%;
    

}
.grid div{
    height: 20px;
    width: 20px;
}
.pac-dot{    
    border-radius: 50%;
    background-image: url("assets/imgs/pac-dot.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
   
}
.power-pellet{
  
    border-radius: 50%;
    background-color: red; 
    
}
.wall{   
   
    background-color: rgb(122, 122, 218); 
}
.ghost-lair{
       
    background-color: var(--primary-color);
}
.empty{   
  
    background-color: var(--primary-color);
   
}
.pacmanStopped{
    
    border-radius: 50%;
    background-color: var(--primary-color);
    background-image: url("assets/imgs/pacman.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(0deg);
    transition: transform 0.2s linear;
   
}
.pacmanMoving{
        
        border-radius: 50%;
        background-color: var(--primary-color);
        background-image: url("assets/imgs/pacman.gif");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: rotate(0deg);
        transition: transform 0.2s linear;
    
}
.blinky {
    background-image: url("assets/imgs/red-ghost.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(0deg);
    transition: transform 0.2s linear;
}

.pinky {
    background-image: url("assets/imgs/pink-ghost.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(0deg); 
}

.inky {
    background-image: url("assets/imgs/blue-ghost.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(0deg); 
}

.clyde {
     background-image: url("assets/imgs/yellow-ghost.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
   
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

.scared-ghost {
    border-radius: 50%;
    background-color: var(--primary-color);
    background-image: url("assets/imgs/scared-ghost.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(0deg);
    transition: transform 0.2s linear;
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px; 
    background-color: var(--primary-color);
    box-shadow: #dddada 5px 5px;
    font-size: 30px;
    color: var(--text-color);
    font-family: 'Press Start 2P', cursive;
}
button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 2%;
  }
  
  /* Efeito de hover */
button:hover {
    background-color: #2980b9;
  }
  
  /* Efeito de clique */
button:active {
    background-color: #1f618d;
  }

  
  
  
  